<template name="newComment">
	<form class="new-comment">
		<div class="row">
			<div class="form-group">
				<div class="col-md-6">
					<label>
					Commenting as {{ address }}
					</label>
					<textarea class="form-control" id="comment-section" name="content" placeholder="Comment Content"></textarea>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="form-group">
				<div class="col-md-3">
					<button type="submit" class="comment btn btn-default">Submit</button> 
				</div>
			</div>
		</div>
	</form>
</template>